/* .boundingBox {
  font-family: "Segoe UI", sans-serif;
  margin: 2em;
  padding: 1em;
  box-sizing: border-box;
  border: 1em solid #242424;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50px;
} */